.product-card {
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  background: #ffffff;
  text-align: center;
  transition: 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
}

.product-card:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.product-image {
  cursor: pointer;
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.btn_product{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}

.product-info{
  padding: 8px;
}

.product-name {
  text-align: left;
  font-size: 16px;  /* Tamaño de fuente mayor */
  font-weight: 400;
  color: black;
  margin: 6px 0px 10px 0px;
}

.product-price {
  text-align: left;
  font-size: 20px;  /* Tamaño de fuente mayor */
  font-weight: 500;
  color: black;
  margin-bottom: 8px;
}

.product-sale {
  position: absolute;
  translate: 4px 3.2px;
  font-size: 16px;  /* Tamaño de fuente mayor */
  color: #00a650;
  font-weight: 400;
}

.free-shipping {
  background: #00a650;
  color: white;
  font-size: 14px;  /* Tamaño de fuente mayor */
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.button-container {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.add-to-cart,
.more-info {
  padding: 6px 6px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;  /* Tamaño de fuente mayor */
  font-weight: 500;
  color: white;
  flex: 1;
  transition: background 0.3s ease-in-out;
}

.add-to-cart {
  background: #ff6600;
}

.add-to-cart:hover {
  background: #e65c00;
}

.more-info {
  background: #333;
}

.more-info:hover {
  background: #555;
}


/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal {
  background-color: white;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  border-radius: 8px;
  position: relative;
  overflow-y: auto;
}

/* Close button */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

/* Product details */
.modal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal p {
  font-size: 16px;
  margin-bottom: 8px;
}

.related-products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.related-product-card {
  width: 150px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.related-product-card img {
  width: 100%;
  height: auto;
}

.related-product-card p {
  font-size: 14px;
  margin-top: 5px;
  color: #333;
}