.reputacion {
    max-width: 880px;
    margin: 0 auto;
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: center;
    border-radius: 0.5em;
  }
  
  .reputacion h1 {
    margin-block: 1rem 4rem;
    color: #848d62;
    font-family: "home-font";
    font-size: 4rem;
  }

  .reputacion h2{
    color: rgba(0, 0, 0, 0.62);
    margin-bottom: 1rem;
    font-family: "rubik";
    font-size: 2rem;
  }

  .reputacion p{
    color: rgb(50, 50, 50);
    font-family: "rubik";
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 700px;
    margin: .5rem auto .5rem auto;
    text-align: center;
    font-size: 1.4rem;
  }

  .reputacion span{
    color: rgb(58, 122, 65);
    color: rgb(50, 50, 50);
    font-weight: 500;
  }

  .reputacion-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 2rem;
  }

  .reputacion-icons figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .img-container{
    margin-bottom: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 120px;
  }

  @media (max-width: 768px) {
    .reputacion-icons{
      flex-direction: column;
      gap: 0;
    }
    
    .reputacion-icons figure{
      margin: 0px;
    }

    .reputacion h1{
      font-size: 3rem;
      margin-block: 0rem 1rem;
    }

    .reputacion h2{
      font-size: 1.4rem;
    }

    .reputacion p{
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }