.destaques-container{
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px;
}

.destaques-container h1{
    margin-block: 0px 20px;
    color: #848d62;
    font-family: "home-font";
    font-size: 4rem;
}

.destaques-container img{
    width: 100%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
}

@media (max-width: 768px) {
    .destaques-container {
        gap: .5rem;
    }

    .destaques-container h1{
        text-align: center;
        font-size: 3rem;
        margin-block: 0px 40px;
    }
}