@font-face{
  font-family: home-font;
  src: url(./Roxborough.ttf);
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", "Roboto", sans-serif;
  color: white;
}

body {
  background-color: #fff;
}

.header-landing {
  background: url(./bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar{
  padding-inline: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 40px 6px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  font-family: "Rubik";
  font-weight: 500;
  z-index: 1;
}

.logo{
  font-family: "home-font";
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: 100;
  color: #fffd47;
}

ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

li {
  list-style: none;
}

nav .links {
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
}

nav .links:hover {
  color: #eee;
}

.section-landing {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section-landing h1 {
  font-family: "home-font", serif;
  font-weight: 300;
  color: #fffd47;
  font-size: 7rem;
  margin-block: 6rem 2rem;
}

.section-landing p {
  max-width: 520px;
  margin-bottom: 2rem;
  font-size: 18px;
  color: #eee;
}

.btn {
  margin-top: 20px;
  border: none;
  background: none;
  transition: 0.2s ease;
}

.btn a {
  padding: 10px 32px;
  cursor: pointer;
  font-family: "Rubik";
  font-size: 18px;
  border: 1px solid #fffd47;
  text-decoration: none;
  transition: 0.2s ease;
}

.section-landing a:hover {
  color: #bbb;
}

.fig {
  display: flex;
  width: 100%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0;
}

.fig a {
  border: none;
  font-size: 14px;
}

.section2-landing {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 1rem;
}

.section2-landing figure {
  max-width: 320px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

figure div {
  padding: 24px 48px 6px 48px;
}

figure h1 {
  font-weight: 400;
  font-size: 20px;
}

figure p {
  font-size: 14px;
  font-family: "Rubik";
  color: #D9D9D9;
}

figure a {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  justify-content: flex-end;
  gap: 12px;
  padding: 10px 32px;
  transition: 0.2s ease;
}

figure span {
  display: flex;
  align-items: center;
  font-family: "Rubik";
  color: #D9D9D9;
}

figure a:hover {
  cursor: pointer;
  gap: 16px;
  padding: 10px 20px;
}

.icons {
  display: flex;
  gap: 10px;
}

.flecha-row{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  animation: godown 1s infinite;
}



@keyframes godown{
  0%{
    transform: translate(-50%, -50%) rotate(90deg) translateX(0px);
  }
  50%{
    
    transform: translate(-50%, -50%) rotate(90deg) translateX(6px);
  }
  100%{
    
    transform: translate(-50%, -50%) rotate(90deg) translateX(0px);
  }
}

@media (max-width: 1024px) {

  .section-landing{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-direction: center;
    margin: 0 auto;
  }

  .section-landing h1 {
    font-size: 4.5rem;
  }

  .section-landing p {
    font-size: 16px;
    padding-inline: 20px;
    margin: 0 auto;
  }

  .section-landing .btn{
    margin-block: 40px;
  }
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    left: -100%; /* Oculto inicialmente */
    top: 0;
    height: 100vh;
    width: 80%;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: inherit;
    align-items: flex-start;
    padding: 20px;
    gap: 4rem;
    transition: 0.3s ease;
  }

  nav ul{
    text-align: right;
    align-items: inherit;
    font-size: 16px;
    gap: 3rem;
  }

  nav.show {
    left: 0; /* Mostrar menú */
  }

  .menu-btn {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1001;
  }

  .menu-btn span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px;
    background-color: white;
    transition: 0.3s ease;
  }

  ul {
    flex-direction: column;
    gap: 1.5rem;
  }

  .section-landing {
    padding-top: 80px;
  }

  .section-landing h1 {
    margin-top: 6rem;
    font-size: 4rem;
  }

  .section-landing .btn{
    margin-top: 6rem;
  }

  .section-landing p{
    color: white;
  }

  .section2-landing {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

}

/* Estilos de transición para animar el botón de menú */
.menu-btn.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
